* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  -webkit-box-shadow: 0px 0px 20px -15px black;
          box-shadow: 0px 0px 20px -15px black;
  padding: 35px 10px;
  margin: 0 0 45px 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 750px) {
  .header__container .main-menu {
    display: none;
  }
  .header__container .main-menu li {
    display: block;
    width: 100%;
  }
  .header__container .main-menu a {
    display: block;
  }
  .header__container .toggle-button {
    text-align: center;
    display: block;
    cursor: pointer;
    color: #000;
    font-size: 20px;
    font-weight: 500;
  }
  .header__container .toggle-button:after {
    content: attr(data-open);
    display: block;
  }
  .header__container #menu-checkbox:checked + nav[role=navigation] .main-menu {
    display: block;
  }
}
.header__logo {
  color: #404040;
  cursor: pointer;
}
.header__logo_big {
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 4px 0;
  text-transform: uppercase;
  letter-spacing: 0px;
}
.header__logo_small {
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 1px;
}
.header__nav {
  margin: auto 0;
}
.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav ul li .dropdown {
  display: none;
  position: absolute;
}
.header__nav ul li a {
  text-transform: uppercase;
  color: #404040;
  padding: 100% 15px 15px 15px;
  margin: 0 3px 0 3px;
  font-size: 16px;
  letter-spacing: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.header__nav ul li a:hover {
  color: #FFFFFF;
  background-color: #D45E5E;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.header__nav ul .dropper {
  position: relative;
}
.header__nav ul .dropper .dropdown {
  padding: 20px 0 0 0;
  min-width: 150px;
}
.header__nav ul .dropper .dropdown .dropdown__container {
  background-color: rgba(101, 101, 101, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0 10px 0;
}
.header__nav ul .dropper .dropdown .dropdown__container a {
  margin: 5px 0;
  padding: 0px 15px;
  line-height: 20px;
  text-transform: capitalize;
}
.header__nav ul .dropper .dropdown .dropdown__container a:hover {
  text-decoration: underline;
  background-color: transparent;
  color: #000000;
}
.header__nav ul .dropper:hover .dropdown {
  display: block;
}

.sub-header {
  padding: 40px 0;
}
.sub-header .sub-header__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.sub-header .sub-header__text:before {
  content: "";
  height: 100px;
  width: 200px;
  background: url("../images/sub-header__text/quotation.png") no-repeat;
  background-position: center;
  position: absolute;
  left: calc(50% - 100px);
  top: -75px;
  opacity: 0.2;
}
.sub-header .sub-header__container:after {
  content: "";
  height: 20%;
  width: 100%;
  background: url("../images/sub-header__text/bottom.png") no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  bottom: -30px;
  opacity: 0.6;
}
.sub-header__text {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  line-height: 38px;
  font-size: 23px;
  max-width: 500px;
  color: #404040;
  position: relative;
}

.portfolio {
  padding: 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio__title {
  text-align: left;
}
.portfolio__text {
  color: #404040;
  font-family: "Playfair Display", serif;
  font-style: italic;
  text-transform: capitalize;
  font-size: 23px;
  font-weight: 500;
  margin: 0 0 30px 0;
}
.portfolio__item-box {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio__item {
  margin: 20px;
  cursor: pointer;
}

.info {
  background-color: #D45E5E;
  padding: 40px;
  margin: 55px 0 0 0;
}
.info .info__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info__left {
  max-width: 730px;
}
.info__left-top {
  margin: 0 0 35px 0;
}
.info__left-top .info__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info__right {
  margin: 0 0 0 100px;
  color: #FFFFFF;
}

.left__person-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFFFFF;
}
.left__person-info .left__person-info_container {
  display: -webkit-box;
}
.left__person-info .left__person-info_container img {
  border: 8px solid #FFFFFF;
  z-index: 10;
  margin-top: -110px;
  max-height: 145px;
}
.left__person-info .info__links img {
  margin: 0 0 0 35px;
  cursor: pointer;
}
.left__person-info .person-info__column {
  margin: 0 0 0 40px;
  padding: 0 0 10px 0;
}
.left__text {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
}

.person-info__name {
  font-family: "Playfair Display", serif;
  font-size: 25px;
  font-style: italic;
  margin: -20px 0 15px 0;
}
.person-info__location {
  margin: 0 0 -15px 0;
}

.right__title {
  font-family: "Playfair Display", serif;
  font-style: italic;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 0 30px 0;
}
.right__statistics {
  text-transform: capitalize;
}
.right__statistics ul li {
  margin: 0 0 12px 0;
  font-size: 17px;
  position: relative;
}
.right__statistics ul li:after {
  content: "";
  height: 11px;
  width: 190px;
  background-color: #E27878;
  position: absolute;
  top: 0;
  right: -95px;
}

.footer {
  background-color: #282828;
  padding: 12px;
}
.footer__text {
  text-align: right;
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 13px;
}

@media (max-width: 1100px) {
  .info__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__flex .info__left {
    max-width: 100%;
    margin: 0 0 30px 0;
  }
  .info__flex .info__right {
    max-width: 100%;
    margin: 0;
  }
  .info__flex .info__right .right__statistics ul li:after {
    left: 40px;
  }
}