* {
  padding: 0;
  margin: 0;
  border: 0;
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}


nav,
footer,
header,
aside {
  display: block;
}


html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


input,
button,
textarea {
  font-family: inherit;
}


input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
body{
	font-family: 'Roboto', sans-serif;
	background-color: #FFFFFF;
}
.container{
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 10px;
}
.header {
	box-shadow: 0px 0px 20px -15px rgba(0,0,0);
	padding: 35px 10px;
	margin: 0 0 45px 0;

	&__container {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 750px){
			.main-menu{
				display: none;
			}
			.main-menu li{
				display: block;
				width: 100%;
			}
			.main-menu a{
				display: block;
			}
			.toggle-button{
				text-align: center;
				display: block;
				cursor: pointer;
				color: #000;
				font-size: 20px;
				font-weight: 500;
			}
			.toggle-button:after{
				content: attr(data-open);
				display: block;
			}
			#menu-checkbox:checked + nav[role="navigation"] .main-menu{
				display: block;
			}
		}
	}
	&__logo {
		color: #404040;
		cursor: pointer;
	}
	&__logo_big {
		font-size: 33px;
		font-weight: 600;
		margin: 0 0 4px 0;
		text-transform: uppercase;
		letter-spacing: 0px;
	}
	&__logo_small {
		font-size: 15px;
		text-transform: capitalize;
		font-weight: 400;
		letter-spacing: 1px;
	}
	&__nav {
		margin: auto 0;
		ul{
			display: flex;
			li{
				.dropdown{
						display: none;
						position: absolute;
				}
				a{
					text-transform: uppercase;
					color: #404040;
					padding: 100% 15px 15px 15px;
					margin: 0 3px 0 3px;
					font-size: 16px;
					letter-spacing: 0;
					transition: 300ms;
					&:hover{
						color: #FFFFFF;
						background-color: #D45E5E;
						transition: 300ms;
					}
				}
			}
			.dropper{
				position: relative;
				.dropdown{
					padding: 20px 0 0 0;
					min-width: 150px;
					.dropdown__container{
						background-color: rgba(101, 101, 101, 0.2);
						display: flex;
						flex-direction: column;
						padding: 10px 0 10px 0;
						a{
							margin: 5px 0;
							padding: 0px 15px;
							line-height: 20px;
							text-transform: capitalize;
						}
						a:hover{
							text-decoration: underline;
							background-color: transparent;
							color: #000000;
						}
					}
				}
			}
			.dropper:hover{
					.dropdown{
						display: block;
					}
				}
		}
	}
}
.sub-header {
	padding: 40px 0;
	.sub-header__container{
		width: 100%;
		display: flex;
		justify-content: center;
		position: relative;
	}
	.sub-header__text:before{
		content:"";
		height: 100px;
		width: 200px;
		background: url("../images/sub-header__text/quotation.png") no-repeat;
		background-position: center;
		position: absolute;
		left: calc(50% - 100px);
		top: -75px;
		opacity: 0.2;
	}
	.sub-header__container:after{
		content:"";
		height: 20%;
		width: 100%;
		background: url("../images/sub-header__text/bottom.png") no-repeat;
		background-position: center;
		position: absolute;
		left: 0;
		bottom: -30px;
		opacity: 0.6;
	}
	&__text {
		font-family: 'Playfair Display', serif;
		font-style: italic;
		font-weight: 500;
		letter-spacing: 1px;
		text-align: center;
		line-height: 38px;
		font-size: 23px;
		max-width: 500px;
		color: #404040;
		position: relative;
	}
}
.portfolio {
	padding: 30px 10px;
	display: flex;
	justify-content: center;
	&__title {
		text-align: left;
	}
	&__text {
		color: #404040;
		font-family: 'Playfair Display', serif;
		font-style: italic;
		text-transform: capitalize;
		font-size: 23px;
		font-weight: 500;
		margin: 0 0 30px 0;
	}
	&__item-box {
		max-width: 1000px;
		display: flex;
		flex-wrap: wrap;
		margin: auto;
		display: flex;
		justify-content: center;
	}
	&__item {
		margin: 20px;
		cursor: pointer;
	}
}
.info {
	background-color: #D45E5E;
	padding: 40px;
	margin: 55px 0 0 0;
	.info__flex{
		display: flex;
	}
	&__left {
		max-width: 730px;
	}
	&__left-top {
		margin: 0 0 35px 0;
		.info__links{
			display: flex;
			justify-content: space-between;
			img{

			}
		}
	}
	&__left-bottom {
	}
	&__right {
		margin: 0 0 0 100px;
		color: #FFFFFF;
	}
}
.left {
	&__person-info {
		display: flex;
		justify-content: space-between;
		color: #FFFFFF;
		.left__person-info_container{
		display: -webkit-box;
		img{
			border: 8px solid #FFFFFF;
			z-index: 10;
			margin-top: -110px;
			max-height: 145px;
			}
		}
		.info__links{
			img{
				margin: 0 0 0 35px;
				cursor: pointer;
			}
		}
		.person-info__column{
			margin: 0 0 0 40px;
			padding: 0 0 10px 0;
		}
	}
	&__text {
		color: #FFFFFF;
		font-size: 14px;
		line-height: 20px;
	}
}
.person-info {
	&__name {
		font-family: 'Playfair Display', serif;
		font-size: 25px;
		font-style: italic;
		margin: -20px 0 15px 0;
	}
	&__location {
		margin: 0 0 -15px 0;
	}
}
.location {
	&__icon {
	}
	&__text {
	}
}
.right {
	&__container {
	}
	&__title {
		font-family: 'Playfair Display', serif;
		font-style: italic;
		text-transform: capitalize;
		font-size: 30px;
		font-weight: 500;
		letter-spacing: 1px;
		margin: 0 0 30px 0;
	}
	&__statistics {
		text-transform: capitalize;
		ul{
			li{
				margin: 0 0 12px 0;
				font-size: 17px;
				position: relative;
			}
			li:after{
					content: '';
					height: 11px;
					width: 190px;
					background-color: #E27878;
					position: absolute;
					top: 0;
					right: -95px;
				}
		}
	}
}
.footer {
	background-color: #282828;
	padding: 12px;
	&__text {
		text-align: right;
		color: #FFFFFF;
		opacity: 0.5;
		font-size: 13px;
	}
}
@media (max-width: 1100px){
	.info__flex{
		display: flex;
		flex-direction: column;
		.info__left{
			max-width: 100%;
			margin: 0 0 30px 0;
		}
		.info__right{
			max-width: 100%;
			margin: 0;
			.right__statistics{
				ul{
					li{

					}
					li:after{
						left: 40px;
					}
				}
			}
		}
	}
}